body {
	background-color: #f7c4d4;
	font-family: Arial, sans-serif;
}
body {
    background-color: #f3bddc;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
header {
	text-align: center;
	margin: 20px 0;
}
@media screen and (max-width: 768px) {
    /* Cambios para pantallas más pequeñas */
    header img {
      max-width: 100%;
    }
    nav ul {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    nav li {
      display: block;
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Cambios para pantallas aún más pequeñas */
    h1 {
      font-size: 24px;
    }
    footer img {
      height: 20px;
    }
  }
  
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 50px 0;
}

h1 {
	font-size: 28px;
}

/* footer */

footer {
  background: #066286;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h5 {
  color: #fff;
  border-bottom: 3px solid #426e88fa;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 9px;
  margin: 20px 0 0 0;
  color: #fff;
}
